[project]
	description = F9 microkernel built for ARM Cortex-M series with efficiency and memory protection in mind
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yeh Yen-Ke (yyken)
[access "refs/for/refs/*"]
	read = group user/Yeh Yen-Ke (yyken)
	push = group user/Yeh Yen-Ke (yyken)
	label-Code-Review = -2..+2 group user/Yeh Yen-Ke (yyken)
	label-Verified = -1..+1 group user/Yeh Yen-Ke (yyken)
	rebase = group user/Yeh Yen-Ke (yyken)
	removeReviewer = group user/Yeh Yen-Ke (yyken)
	submit = group user/Yeh Yen-Ke (yyken)
[access "refs/heads/*"]
	read = group user/Yeh Yen-Ke (yyken)
	create = group user/Yeh Yen-Ke (yyken)
	push = +force group user/Yeh Yen-Ke (yyken)
	pushMerge = group user/Yeh Yen-Ke (yyken)
[access "refs/tags/*"]
	push = +force group user/Yeh Yen-Ke (yyken)
	pushTag = group user/Yeh Yen-Ke (yyken)
	pushSignedTag = group user/Yeh Yen-Ke (yyken)
